Package: APPLICATION_PACKAGE
Version: APPLICATION_VERSION_WITH_RELEASE
Section: APPLICATION_SECTION
Maintainer: APPLICATION_MAINTAINER
Priority: optional
Architecture: APPLICATION_ARCH
Provides: APPLICATION_PACKAGE
Description: APPLICATION_DESCRIPTION
Depends: libc6, libasound2 | libasound2t64, xdg-utils PACKAGE_CUSTOM_DEPENDENCIES
Installed-Size: APPLICATION_INSTALLED_SIZE
APPLICATION_HOMEPAGE
