[Desktop Entry]
Name=Haveno
GenericName=Monero Exchange
Comment=A decentralized monero exchange network.
Exec=/opt/haveno/bin/Haveno
Icon=/opt/haveno/lib/Haveno.png
Terminal=false
Type=Application
Categories=Network
MimeType=
StartupWMClass=haveno.desktop.app.HavenoApp
