[Desktop Entry]
Name=Haveno Nova
GenericName=Monero Exchange
Comment=A decentralized monero exchange network.
Exec=/opt/haveno-nova/bin/HavenoNova
Icon=/opt/haveno-nova/lib/Haveno.png
Terminal=false
Type=Application
Categories=Network
MimeType=
StartupWMClass=haveno.desktop.app.HavenoApp
