[Unit]
Description=Haveno Price Node
After=network.target

[Service]
SyslogIdentifier=Haveno-pricenode
EnvironmentFile=/etc/default/haveno-pricenode.env
ExecStart=/pricenode/haveno/haveno-pricenode 2
ExecStop=/bin/kill -TERM ${MAINPID}
Restart=on-failure

User=pricenode
Group=pricenode

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=false

[Install]
WantedBy=multi-user.target
