[Unit]
Description=Haveno Price Node
After=network.target

[Service]
SyslogIdentifier=Haveno-pricenode
EnvironmentFile=/etc/default/Haveno-pricenode.env
ExecStart=/Haveno/Haveno/Haveno-pricenode 2
ExecStop=/bin/kill -TERM ${MAINPID}
Restart=on-failure

User=Haveno
Group=Haveno

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=false

[Install]
WantedBy=multi-user.target
