[Desktop Entry]
Comment=A decentralized, Tor-based, P2P Monero exchange network.
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; bin/HavenoNova %u"
GenericName[en_US]=Monero Exchange
GenericName=Monero Exchange
Icon=exchange.haveno.Nova
Categories=Office;Finance;Java;P2P;
Name[en_US]=Haveno Nova
Name=Haveno Nova
Terminal=false
Type=Application
MimeType=
X-AppImage-Name=Haveno Nova
StartupWMClass=Haveno
