[Unit]
Description=Haveno network monitor
After=network.target

[Service]
WorkingDirectory=~
Environment="JAVA_OPTS='-Xmx500M'"
ExecStart=/home/haveno/haveno/haveno-monitor /home/haveno/monitor.properties
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure

User=haveno
Group=haveno

[Install]
WantedBy=multi-user.target
