.root {
    -bs-color-primary: #0b65da;
    -bs-color-primary-dark: #0c59bd;
    -bs-text-color: #000000;
    -bs-background-color: #ffffff;
    -bs-background-gray: #dddddd;
    -bs-content-background-gray: #f4f4f4;
    -bs-color-gray-13: #333;
    -bs-color-gray-11: #111;
    -bs-color-gray-10: #555;
    -bs-color-gray-6: #666666;
    -bs-color-gray-5: #f1f6f7;
    -bs-color-gray-4: #aaaaaa;
    -bs-color-gray-3: #cccccc;
    -bs-color-gray-2: #d0d0d0;
    -bs-color-gray-1: #e9e9e9;
    -bs-color-gray-0: #f8f8f8;
    -bs-color-gray-dim: dimgray;
    -bs-color-gray-ddd: #444444;
    -bs-color-gray-ccc: #9a9a9a;
    -bs-color-gray-bbb: #d8d8d8;
    -bs-color-gray-aaa: #f0f0f0;
    -bs-color-gray-fafa: #fafafa;
    -bs-color-blue-5: #0a4576;
    -bs-color-blue-4: #57acc9;
    -bs-color-blue-3: #9bbdc9;
    -bs-color-blue-2: #6aa4b6;
    -bs-color-blue-1: #b5e1ef;
    -bs-color-blue-0: blue;
    -bs-color-green-1: #c4d9c5;
    -bs-color-green-2: #98b999;
    -bs-color-green-3: #619864;
    -bs-color-green-4: #15bc1d;
    -bs-color-green-5: #2a7e2e;
    -bs-red: #D73030;
    -bs-turquoise: #2cacaf;
    -bs-yellow: #ffb60f;
    -bs-yellow-light: derive(-bs-yellow, 81%);
    -bs-blue-transparent: #0f87c344;
    -bs-bg-green: #99ba9c;
    -bs-rd-green: #0b65da;
    -bs-rd-green-dark: #3EA34A;
    -bs-rd-nav-selected: #0b65da;
    -bs-rd-nav-deselected: rgba(255, 255, 255, 1);
    -bs-rd-nav-secondary-selected: -fx-accent;
    -bs-rd-nav-secondary-deselected: -bs-rd-font-light;
    -bs-rd-nav-background: #0b65da;
    -bs-rd-nav-primary-background: #0b65da;
    -bs-rd-nav-button-hover: derive(-bs-rd-nav-background, 10%);
    -bs-rd-nav-primary-button-hover: derive(-bs-rd-nav-primary-background, 10%);
    -bs-rd-nav-primary-border: #0B65DA;
    -bs-rd-nav-border: #535353;
    -bs-rd-nav-border-color: rgba(255, 255, 255, 0.31);
    -bs-rd-nav-hover-text: white;
    -bs-rd-tab-border: #e2e0e0;
    -bs-tab-content-area: #ffffff;
    -bs-color-gray-background: #f2f2f2;
    -bs-content-pane-bg-top: #f2f2f2;
    -bs-content-pane-bg-bottom: #f6f6f6;
    -bs-scroll-pane-background: transparent;
    -bs-tab-content-area: transparent;
    -bs-viewport-background: transparent;
    -bs-footer-pane-background: #dddddd;
    -bs-footer-pane-text: #4b4b4b;
    -bs-footer-pane-line: #bbb;
    -bs-rd-font-balance: white;
    -bs-rd-font-dark-gray: #3c3c3c;
    -bs-rd-font-dark: #4b4b4b;
    -bs-rd-font-light: #8d8d8d;
    -bs-rd-font-lighter: #a7a7a7;
    -bs-rd-font-confirmation-label: #504f52;
    -bs-rd-font-balance-label: #bbbbbb;
    -bs-text-color-dropshadow: rgba(0, 0, 0, 0.54);
    -bs-text-color-dropshadow-light-mode: rgba(0, 0, 0, 0.54);
    -bs-text-color-transparent: rgba(0, 0, 0, 0.2);
    -bs-color-gray-line: #979797;
    -bs-rd-separator: #dbdbdb;
    -bs-rd-separator-dark: rgb(255, 255, 255, 0.1);
    -bs-rd-error-red: #dd0000;
    -bs-rd-message-bubble: #0086c6;
    -bs-toggle-selected: #7b7b7b;
    -bs-rd-tooltip-truncated: #0a0a0a;
    -bs-warning: #ff8a2b;
    -bs-buy: rgb(80, 180, 90);
    -bs-buy-focus: derive(-bs-buy, -50%);
    -bs-buy-hover: derive(-bs-buy, -10%);
    -bs-sell: rgb(213, 63, 46);
    -bs-sell-focus: derive(-bs-sell, -50%);
    -bs-sell-hover: derive(-bs-sell, -10%);
    -bs-volume-transparent: rgba(84, 182, 94, 1);
    -bs-candle-stick-average-line: -bs-rd-green;
    -bs-candle-stick-loss: #fe3001;
    -bs-candle-stick-won: #20b221;
    -bs-cancel: #dddddd;
    -bs-cancel-focus: derive(-bs-cancel, -50%);
    -bs-cancel-hover: derive(-bs-cancel, -10%);
    -fx-accent: #0b65da;
    -fx-box-border: #e9e9e9;
    -bs-green-soft: derive(-bs-rd-green, 60%);
    -bs-red-soft: derive(-bs-rd-error-red, 60%);
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: #0f87c3;
    -fx-selection-bar: #4181d4;
    -fx-selection-bar-non-focused: -fx-selection-bar;
    -fx-default-button: derive(-fx-accent, 95%);
    -bs-progress-bar-track: #e0e0e0;
    -bs-white: white;
    -bs-prompt-text: -fx-control-inner-background;
    -bs-soft-red: #aa4c3b;
    -bs-turquoise-light: #11eeee;
    -bs-color-border-form-field: -bs-background-gray;
    -bs-color-background-pane: -bs-background-color;
    -bs-color-background-row-even: -bs-color-background-pane;
    -bs-color-background-row-odd: derive(-bs-color-background-pane, -6%);
    -bs-color-table-cell-dim: -bs-color-gray-ccc;
    -bs-color-background-popup: white;
    -bs-color-background-popup-overlay: white;
    -bs-color-background-form-field: white;
    -bs-text-color-dim1: black;
    -bs-text-color-dim2: black;


    /* Monero orange color code */
    -xmr-orange: #f26822;

    -bs-support-chat-background: #4b4b4b;
}

/* set a javafx.scene.paint.Color of black for text in the table view */
.table-view {
    -fx-dark-text-color: black;
    -fx-mid-text-color: black;
    -fx-light-text-color: black;
}

.warning-box {
    -fx-background-color: -bs-yellow-light;
}

.progress-bar > .secondary-bar {
    -fx-background-color: -bs-color-gray-3;
}

#image-logo-landscape {
    -fx-image: url("../../images/logo_landscape_light.png");
}

#charts .default-color0.chart-series-area-fill {
    -fx-fill: linear-gradient(to bottom,
        rgba(62, 163, 74, 0.45) 0%,
        rgba(62, 163, 74, 0.0) 100%
    );
}

#charts .default-color1.chart-series-area-fill {
    -fx-fill: linear-gradient(to bottom,
        rgba(215, 48, 48, 0.45) 0%,
        rgba(215, 48, 48, 0.0) 100%
    );
}

/* All inputs have border in light mode. */
.jfx-combo-box, .jfx-text-field, .jfx-text-area, .jfx-password-field {
    -fx-border-color: -bs-color-border-form-field;
}
