name: Codacy Coverage Reporter

on: ["push"]

permissions:
  contents: read

jobs:
  build:
    if: github.repository == 'haveno-dex/haveno'
    name: Publish coverage
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Build with Gradle
        run: ./gradlew clean build -x checkstyleMain -x checkstyleTest -x shadowJar

      - name: Run codacy coverage reporter
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ${{ github.workspace }}/build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml
