[Unit]
Description=Haveno Price Node
After=network.target

[Service]
SyslogIdentifier=haveno-pricenode
EnvironmentFile=/etc/default/haveno-pricenode.env
ExecStart=/home/haveno-pricenode/haveno-pricenode/haveno-pricenode 2
ExecStop=/bin/kill -TERM ${MAINPID}
Restart=on-failure

User=haveno-pricenode
Group=haveno-pricenode

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=false

[Install]
WantedBy=multi-user.target