[Unit]
Description=Private mainnet node
After=network.target

[Service]
User=monero-mainnet
Group=monero-mainnet
Type=simple
ExecStart=/home/monero-mainnet/monerod --config-file /home/monero-mainnet/private-mainnet.conf --non-interactive
SyslogIdentifier=private-mainnet-node
Restart=always

# Hardening
PrivateTmp=true
#ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=false
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictSUIDSGID=true
# limit memory usage to 4gb
LimitRSS=4000000000

[Install]
WantedBy=multi-user.target
